.game-grid-cell {
    -fx-background-color: black;
    -fx-background-insets: 0 1 1 0 ;
    -fx-border-color: grey;
    -fx-border-width: 0.5px;
}

.nextUpBackground {
    -fx-background-color: grey;
}

.pointsBackground {
    -fx-background-color: white;
}